@font-face {
  font-family: 'Helvetica Neue LT Std';
  src: url('fonts/helvetica/HELVETICANEUELTSTDBDEX.OTF') format('opentype');
  font-weight: normal;
  font-style: normal;
}
/*---------------------------------------NAV -FOOTER -------------------------------------------*/

.nav-link.active {
  font-weight: bold;
  text-decoration: underline;
}

.logo-img{
  width: 70%; 
  height: auto; 
}
.logo-img-footer{
  width: 90%;
  height: auto; 
}
@media (max-width: 768px) {
  .logo-img {
    width: 100%; 
    height: auto; 
  }

  .navbar-brand {
    display: block; 
    text-align: center; 
    padding: 0; 
  }
}
  .navbar-toggler {
    color:#ffffff;
}
.barra-nav::after {
    content: ""; 
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    z-index: -1; 
  }

.navbar-toggler {
  background-color: transparent; 
  color: white; 
  background-color: transparent; 
  border: none;
  box-shadow: none;
  outline: none; 
  padding: 0; 
}

.navbar-toggler:focus,
.navbar-toggler:active {
  outline: none; 
  box-shadow: none; 
  border: none;
}

.footer-fondo{
  background-image: 
  radial-gradient(circle farthest-side at 50% 300%, rgba(0, 0, 0, 0.1) 40%, rgba(11, 28, 58, 0.9) 60%, transparent 100%),
  linear-gradient(to bottom, #000000, #0B1C3A);
  color: #ffffff;
  font-family: 'Helvetica Neue LT Std', sans-serif; 
  font-size: 0.8rem !important;
  font-weight: 400 !important;
  
}

.titulos-footer {
  font-family: 'Helvetica Neue LT Std', sans-serif !important;
  font-size: 1.2rem !important;
  font-weight: 600 !important;
  color:#ffffff;
}


.boton-nav {
  background: linear-gradient(150deg, rgba(61, 89, 233, 0.9), rgba(11, 28, 58, 0.9)) !important; 
  border: 2px solid var(--framework-blue) !important; 
  text-align: center  !important; 
  color: white  !important;
  padding: 10px 25px !important; 
  border-radius: 15px  !important; 
  display: inline-block  !important;
  cursor: pointer  !important;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2)  !important; 
  font-size: 16px !important;
  font-family: 'Helvetica Neue LT Std', sans-serif !important;
}

.boton-nav:hover {
  background: linear-gradient(150deg, rgba(11, 28, 58, 0.9), rgba(61, 89, 233, 0.9)) !important; 
  transform: translateY(-2px); 
  box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.3);
  color: white !important;
}



/*-------------------------------------------HOME----------------------------------------------*/
#section-home {
  height: 90vh;
  background-image: 
  radial-gradient(circle farthest-side at 50% -40%, rgba(61, 89, 233, 0.5) 40%, rgba(11, 28, 58, 0.9) 60%, transparent 100%),
  linear-gradient(to bottom, #0B1C3A, #000000);
  display: flex; 
  justify-content: center; 
  align-items: center; 
  color: white; 
  text-align: center; 
}
.section {
  padding-top: 80px; 
}
#section-home h1 {
  font-family: 'Helvetica Neue LT Std', sans-serif; 
  font-size: 3.8vw; 
  color:#ffffff;  
}
#section-home h4 {
  font-family: 'Helvetica Neue LT Std', sans-serif; 
  font-weight: 400 !important;
  color:#ffffff;  
  line-height: 1.8;

}

.boton-home {
  background: linear-gradient(150deg, rgba(61, 89, 233, 0.9), rgba(11, 28, 58, 0.9)) !important; 
  border: 2px solid var(--framework-blue) !important; 
  text-align: center  !important; 
  color: white  !important;
  padding: 14px 35px !important; 
  border-radius: 15px  !important; 
  display: inline-block  !important;
  cursor: pointer  !important;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2)  !important; 
  font-size: 16px !important;
  font-family: 'Helvetica Neue LT Std', sans-serif !important;
}

.boton-home:hover {
  background: linear-gradient(150deg, rgba(11, 28, 58, 0.9), rgba(61, 89, 233, 0.9)) !important; 
  transform: translateY(-2px); 
  box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.3);
  color: white !important;
}

@media (max-width: 991px) {
  #section-home h1 {
    font-size: 80px;
    color: white;
  }
  #section-home h4{
      font-size: 13px; 
      color: white;
    }
}
  
  @media (max-width: 767px) {
    #section-home h1 {
      font-size: 58px;
      color: white;
    }
    #section-home h4{
        font-size: 13px; 
        color: white;
      }
  }

  @media (max-width: 479px) {
    #section-home h1 {
      font-size: 46px;
      color: white;
    }
    #section-home h4{
        font-size: 13px; 
        color: white;
      }
  }

/* ================================================================================ */
/*                                 ESTILO DE SERVICIOS                              */
/* ================================================================================ */
#section-service {
  height: 90vh;
  background-image: 
  radial-gradient(circle farthest-side at 50% -20%, rgba(61, 89, 233, 0.5) 35%, rgba(11, 28, 58, 0.9) 70%, transparent 100%),
  linear-gradient(to bottom, #0B1C3A, #000000);
  display: flex; 
  justify-content: center; 
  align-items: center; 
  color: white; 
  text-align: center; 
}
.section {
  padding-top: 80px; 
}
#section-service h1 {
  font-family: 'Helvetica Neue LT Std', sans-serif; 
  font-size: 3.4rem; 
  color:#ffffff;  
  font-weight: 600;
  letter-spacing: -1.1px;
}
#section-service h4 {
  font-family: 'Helvetica Neue LT Std', sans-serif; 
  color:#ffffff;  
  line-height: 1.8;
  font-size: 1.1rem; 
}

@media (max-width: 768px) {
  #section-service h1 {
    font-size: 1.5rem; 
  }
  
  #section-service h4 {
    font-size: 1rem; 
  }
  #section-service {
    height: 100vh;
  }
}

@media (max-width: 480px) {
  #section-service h1 {
    font-size: 2rem;
  }
  
  #section-service h4 {
    font-size: 0.8rem;
  }
}


#section-services2 h1 {
  font-family: 'Helvetica Neue LT Std', sans-serif !important; 
  font-size: 1.6rem !important; 
  font-weight: bold;
  text-align: center;
  color: #1a2a4a; 
  margin-bottom: 30px;
}

#section-services2 h4{
  font-family: 'Helvetica Neue LT Std', sans-serif !important; 
  font-size: 1rem;
  font-weight: bold;
  color:#3D59E9;
}
#section-services2 h5{
  font-family: 'Helvetica Neue LT Std', sans-serif !important; 
  font-size: 0.9rem;
  color:#303030;
  line-height: 1.8; 
}

.gradient-card {
  background-image: linear-gradient(140deg, #ffffff, #fcfdfdcc);
  border: none;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  border-radius: 12px;
  padding: 25px;
  transition: all 0.3s ease-in-out;
  height: 100%;
  max-width: 450px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.gradient-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.15);
}
.tarjeta-grande {
  background-image: linear-gradient(140deg, #ffffffe6, #f3f3f3cc);
  border: none;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  border-radius: 12px;
  padding: 25px;
  transition: all 0.3s ease-in-out;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.tarjeta-grande:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.15);
}
.tasks-block {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}

.icon-tasks {
  width: 40px;
  height: 40px;
  margin-right: 15px;
}

  
  #section-home3 {
    height: 100vh;
    background-image: 
    radial-gradient(circle farthest-side at 50% 300%, rgba(0, 0, 0, 0.1) 40%, rgba(0, 0, 0, 0.9) 60%, transparent 100%),
    linear-gradient(to bottom, #0B1C3A,  #000000);
    display: flex; 
    justify-content: center; 
    align-items: center; 
    color: white; 
    text-align: center; 
    overflow: hidden;
    padding: 20px;
}

.fondo-formulario {
    background-image: 
    radial-gradient(circle farthest-side at 50% 300%,  rgba(21, 50, 100, 0.8) 60%,rgba(61, 89, 233, 0.3) 70%,transparent 100%),
    linear-gradient(to bottom, #070f1b,  #000000);
    border-radius: 15px;
    width: 80%;
    max-width: 500px;
    min-height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 1rem;
    overflow: hidden; 
}

  #section-home3 h4 {
    font-family: 'Helvetica Neue LT Std', sans-serif;
    font-size: 1.2rem !important;
    font-weight: 400 !important;
    color:#ffffff;  
    text-align: center;
  }

  #section-home3 h1 {
    font-family: 'Helvetica Neue LT Std', sans-serif;
    font-weight: 400 !important;
    color:#ffffff;  
    text-align: center;
    font-size: 2rem !important;
  }
  .fondo-formulario form {
    width: 100%;
    max-width: 400px; /* Limita el ancho del formulario */
}

.fondo-formulario .form-control {
    width: 100%;
}

/* Ajustes en pantallas más pequeñas */
@media (max-width: 768px) {
    #section-home3 {
        height: 100vh;
        padding: 10px;
        overflow: auto; /* Permite scroll si es necesario */
    }

    .fondo-formulario {
        width: 98%;
        max-width: 90%;
        padding: 1rem;
    }
}

@media (max-width: 480px) {
    .fondo-formulario {
        width: 100%;
        max-width: 95%;
        padding: 0.8rem;
        min-height: auto;
    }

    .fondo-formulario h1 {
        font-size: 1.1rem !important;
    }

    .fondo-formulario h4 {
        font-size: 0.8rem !important;
    }
}

/* ================================================================================ */
/*                                 ESTILO DE MANAGED                             */
/* ================================================================================ */
 #section-managed1{  
  height: 90vh;
  background-image: 
  radial-gradient(circle farthest-side at 50% -20%, rgba(61, 89, 233, 0.5) 35%, rgba(11, 28, 58, 0.9) 70%, transparent 100%),
  linear-gradient(to bottom, #0B1C3A, #000000);
  display: flex; 
  justify-content: center; 
  align-items: center; 
  color: white; 
  text-align: center; 
} 

#section-managed1 h1 {
  font-family: 'Helvetica Neue LT Std', sans-serif; 
  font-size: 3.4rem; 
  color:#ffffff;  
  font-weight: 600;
  letter-spacing: -1.1px;
}
#section-managed1 h4 {
  font-family: 'Helvetica Neue LT Std', sans-serif; 
  color:#ffffff;  
  line-height: 1.8;
  font-size: 1.1rem; 
}

@media (max-width: 768px) {
  #section-managed1 h1 {
    font-size: 3rem; 
  }
  
  #section-managed1 h4 {
    font-size: 1rem; 
  }
}

@media (max-width: 480px) {
  #section-managed1 h1 {
    font-size: 3rem;
  }
  
  #section-managed1 h4 {
    font-size: 1rem;
  }
}

#section-managed {
  position: relative;
  width: 100%;
  min-height: 100vh;
  background-image: url("/static/images/1.png");
  background-position: center;
  background-attachment: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

#section-managed::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: 
    linear-gradient(to bottom, 
      rgba(0, 0, 0, 1) 0%, 
      rgba(0, 0, 0, 0.7) 20%, 
      rgba(11, 28, 58, 0.8) 40%, 
      rgba(11, 28, 58, 0.6) 60%, 
      rgba(11, 28, 58, 0.3) 80%, 
      rgba(11, 28, 58, 0) 100%),
    linear-gradient(to top, 
      rgba(0, 0, 0, 0.3) 0%, 
      rgba(0, 0, 0, 0.7) 20%, 
      rgba(11, 28, 58, 0.8) 40%, 
      rgba(11, 28, 58, 0.6) 60%, 
      rgba(11, 28, 58, 0.7) 80%, 
      rgba(0, 0, 0, 0.9) 100%);
  z-index: 1;
  pointer-events: none;
}

#section-managed .container {
  position: relative;
  z-index: 2;
}

#section-managed .titulo-section h1 {
  font-family: 'Helvetica Neue LT Std', sans-serif;
  font-size: 2rem;
  font-weight: bold;
  text-align: center;
  color: #ffffff;
}

#section-managed .tarjeta-managed {
  background: rgba(255, 255, 255, 0.9);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  border-radius: 15px;
  width: 100%;
  max-width: 700px;
  min-height: 350px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: stretch;
  text-align: left;
  padding: 3rem;
  overflow: hidden;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  flex-grow: 1;
}

#section-managed .tarjeta-managed:hover {
  transform: translateY(-5px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15);
}


#section-managed .row.align-items-center {
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
}

#section-managed .col-md-6 {
  display: flex;
  flex-direction: column;
  flex: 1;
  height: 100%;
}

#section-managed .card-fixed-height {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  min-height: 100%;
}

#section-managed .tasks-block {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 1rem;
}

#section-managed .custom-heading {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: start;
  text-align: left;
  flex: 1;
}

#section-managed .icon-custom {
  font-size: 45px;
  margin-right: 20px;
  color: #3D59E9;
  padding: 0.9rem;
}

#section-managed .titulo-tarjeta {
  font-size: 1.1rem;
  font-weight: bold;
  color: #3D59E9;
}

#section-managed h5 {
  font-size: 1rem;
  color: #303030; 
  line-height: 1.8;
  margin-bottom: 10px;
}

/* ================================================================================ */
/*                                 ESTILO DE TRAINING                            */
/* ================================================================================ */

#section-training {
  height: 90vh;
  background-image: 
  radial-gradient(circle farthest-side at 50% -20%, rgba(61, 89, 233, 0.5) 35%, rgba(11, 28, 58, 0.9) 70%, transparent 100%),
  linear-gradient(to bottom, #0B1C3A, #000000);
  display: flex; 
  justify-content: center; 
  align-items: center; 
  color: white; 
  text-align: center; 
}


#section-training h1 {
  font-family: 'Helvetica Neue LT Std', sans-serif; 
  font-size: 3.4rem; 
  color:#ffffff;  
  font-weight: 600;
  letter-spacing: -1.1px;
}
#section-training h4 {
  font-family: 'Helvetica Neue LT Std', sans-serif; 
  color:#ffffff;  
  line-height: 1.8;
  font-size: 1.1rem; 
}
@media (max-width: 768px) {
  #section-training h1 {
    font-size: 3rem; 
  }
  
  #section-training h4 {
    font-size: 1rem; 
  }
}

@media (max-width: 480px) {
  #section-training h1 {
    font-size: 3rem;
  }
  
  #section-training h4 {
    font-size: 1rem;
  }
}


/* ================================================================================ */
/*                                 ESTILO DE ABOUT                          */
/* ================================================================================ */

#section-about {
  height: 90vh;
  background-image: 
  radial-gradient(circle farthest-side at 50% -20%, rgba(61, 89, 233, 0.5) 35%, rgba(11, 28, 58, 0.9) 70%, transparent 100%),
  linear-gradient(to bottom, #0B1C3A, #000000);
  display: flex; 
  justify-content: center; 
  align-items: center; 
  color: white; 
  text-align: center; 
  line-height: 1.8;
}

#section-about h1 {
  font-family: 'Helvetica Neue LT Std', sans-serif; 
  font-size: 3.4rem; 
  color:#ffffff;  
  font-weight: 600;
  letter-spacing: -1.1px;
}
#section-about h4 {
  font-family: 'Helvetica Neue LT Std', sans-serif; 
  color:#ffffff;  
  line-height: 1.6;
  font-size: 1.1rem; 
}

@media (max-width: 768px) {
  #section-about h1 {
    font-size: 3rem; 
  }
  
  #section-about h4 {
    font-size: 1rem; 
  }
}

@media (max-width: 480px) {
  #section-about h1 {
    font-size: 3rem;
  }
  
  #section-about h4 {
    font-size: 1rem;
  }
}

#section-about2{
  position: relative;
  width: 100%;
  min-height: 60vh;
  background-image: url("/static/images/1.png");
  background-position: center;
  background-attachment: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

#section-about2::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: 
    linear-gradient(to bottom, 
      rgb(255, 255, 255) 0%, rgba(252, 252, 252, 0.9) 100%);  
  z-index: 1;
  pointer-events: none;
}


#section-about3{
  position: relative;
  width: 100%;
  min-height: 60vh;
  background-image: url("/static/images/3.png");
  background-position: center;
  background-attachment: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

#section-about3::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 5;
  z-index: 1;
  pointer-events: none;
  background: rgba(11, 28, 58, 0.8);
}

#section-about4 {
  position: relative;
  width: 100%;
  min-height: 60vh;
  background-image: url("/static/images/1.png");
  background-position: center;
  background-attachment: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: left;
  padding: 5vh 0;
}

/* Gradiente de fondo */
#section-about4::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to bottom, rgb(255, 255, 255) 0%, rgba(252, 252, 252, 0.9) 100%);
  z-index: 1;
  pointer-events: none;
}

#section-about5{
  position: relative;
  width: 100%;
  min-height: 30vh;
  background-image: 
  linear-gradient(to bottom, 
    rgb(255, 255, 255) 0%, rgba(255, 255, 255, 0.9) 100%);
  background-position: center;
  background-attachment: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}


#section-about2 .container {
  position: relative;
  z-index: 2;
}
#section-about3 .container {
  position: relative;
  z-index: 2;
}
#section-about4 .container {
  position: relative;
  z-index: 2;
}

.custom-image {
  width: 400px;
  height: auto;
  object-fit: cover;
  border-radius: 15px;
}

#section-about2 h5 {
  font-family: 'Helvetica Neue LT Std', sans-serif;
  font-size: 1.2rem; 
  color:#0B1C3A;  
  font-weight: 400;
  line-height: 2;

}

#section-about3 h5 {
  font-family: 'Helvetica Neue LT Std', sans-serif;
  font-size: 1.2rem; 
  color:#ffffff;  
  font-weight: 400;
  line-height: 2;
}

#section-about4 h5 {
  font-family: 'Helvetica Neue LT Std', sans-serif;
  font-size: 1.2rem; 
  color:#0B1C3A; 
  font-weight: 400;
  line-height: 2;
}

#section-about5 h5 {
  font-family: 'Helvetica Neue LT Std', sans-serif;
  font-size: 1.1rem; 
  color:#0B1C3A; 
  font-weight: 400;
  line-height: 2;
}

.highlight {
  font-weight: bold;
  color: #3D59E9;
}


  /*----------------------------------------------SECCION2 HOME---------------------------------*/
  #section-home2 {
    height: 90vh;
    background-image: 
      radial-gradient(circle farthest-side at 50% 300%, rgba(61, 89, 233, 0.5) 40%, rgba(11, 28, 58, 0.9) 60%, transparent 100%),
      linear-gradient(to bottom, #000000, #0B1C3A);
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    text-align: center;
  }

  #section-home2 h1 {
    font-family: 'Helvetica Neue LT Std', sans-serif; 
    font-size: 4vw !important;
    font-weight: 600 !important;
    color:#ffffff;  
    text-align:left;
  }
  #section-home2 h4 {
    font-family: 'Helvetica Neue LT Std', sans-serif; 

    font-weight: 400 !important;
    color:#ffffff;  
    text-align:left;
  }


  .figure-block-c {
    will-change: transform;
    transform: translate3d(0%, 0px, 0px) scale3d(1, 1, 1) 
                rotateX(69deg) rotateY(6deg) rotateZ(-64deg) skew(0deg, 0deg);
    transform-style: preserve-3d;
    position: relative;
    width: 400px;
    height: 200px;
  }

  .figure-c1, .figure-c2, .figure-c3 {
    position: absolute;
    height: 300px;
    width: 500px;
    background: linear-gradient(135deg, rgba(11, 28, 58, 0.6) 35%, rgba(61, 89, 233, 0.5) 90%);
    will-change: transform;
    transform-style: preserve-3d;
    transition: transform 0.5s cubic-bezier(0.25, 0.1, 0.25, 1); 
  }

  .figure-c1 {
    transform: translate3d(-100px, 50px, -4vh) scale3d(1, 1, 1)  
    rotateX(11.9955deg) rotateY(0deg) rotateZ(11.994deg) skew(0deg, 0deg);
    background: linear-gradient(135deg, rgba(61, 89, 233, 0.5) 35%, rgba(0, 0, 0, 0.5) 90%);
    opacity: 0.6;
    filter: blur(10px);
    box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.6);
    z-index: 30;
  }

  .figure-c2 {
    transform: translate3d(-35%, 210px, 15vh) scale3d(1, 1, 1) 
      rotateX(11.9955deg) rotateY(0deg) rotateZ(11.994deg) skew(0deg, 0deg);
    background: linear-gradient(135deg, rgba(61, 89, 233, 0.5) 35%, rgba(0, 0, 0, 0.5) 90%);
    opacity: 0.6;
    filter: blur(10px);
    box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.6);
    z-index: 20;
  }

  .figure-c3 {
    transform: translate3d(0px, 0px, 15vh) scale3d(1, 1, 1) 
    rotateX(11.9955deg) rotateY(0deg) rotateZ(11.994deg) skew(0deg, 0deg);
    background: linear-gradient(135deg, rgba(61, 89, 233, 0.5) 35%, rgba(0, 0, 0, 0.5) 90%);
    filter: blur(10px);
    box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.6);
    z-index: 1;
  }
  


