{% extends "base.html"%}
{% load static %}
{% load i18n %}
{% block content %}
<style>
  #section-about, #section-about2, #section-about3, #section-about4 {
    text-align: left !important;
  }

  .custom-container {
    width: 100%; /* Ocupa el ancho total del container */
    background-image: linear-gradient(140deg, #ffffff, #fcfdfdcc);
    border-radius: 12px;*/
    padding: 20px;
    transition: all 0.3s ease-in-out;
    box-shadow: 0 0 8px rgba(255, 255, 255, 0.05);
  }

  .custom-container:hover {
    transform: translateY(-5px); /* Efecto hover levantando la sección */
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1); /* Sombra sutil */
  }
  .image-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 200px;
  }
  
  .custom-image {
    max-width: 80%;
    height: auto;
    object-fit: cover;
    min-height: 200px;
  }
  #section-about h4 {
    font-family: 'Helvetica Neue LT Std', sans-serif !important;;
    color: #ffffff !important;
    line-height: 1.8 !important;;
    font-size: clamp(14px, 1.2vw, 19px) !important;;
}

</style>
<section id="section-about" class="">
  <div class="container ftco-animate">
    <div class="row justify-content-center mt-5 ">
      <div class="col-md-9 text-center mt-0 align-items-center">
        <h1 class="mb-4">{% translate "ABOUT US" %}</h1>
        <h4 class="mb-4 subtitulo_threat"style:"color: #ffffff">
          {% translate "At T4NGO Security, we provide cyber threat intelligence services to multinational corporations, financial institutions, government agencies, and critical infrastructure operators. Our expertise helps organizations, and their ecosystems strengthen their resilience and make informed decisions in an increasingly complex digital landscape." %}
        </h4>
        <div class="text-center mt-5">
          <button type="button" class="btn btn-primary px-5 boton-home" onclick="location.href='#section-home3'">
            {% translate "Contact us" %}
          </button>
        </div>
      </div>
    </div>
  </div>  
</section>
<section id="section-about2">
  <div class="container ">
    <div class="container ftco-animate">  
      <div class="custom-container mb-5 mt-5">
        <div class="row align-items-center justify-content-center flex-md-row-reverse p-3">
          <div class="col-md-5 col-10 p-md-0 text-left d-flex align-items-stretch">
            <div class="text-start">          
              <h5>{% translate "In a world where cyber threats are evolving at an unprecedented pace, organizations must fully understand the environment they operate in. Collaboration between industry peers, partners, and even competitors is essential to staying ahead of cyber risks. Only by working together can businesses, governments, and critical infrastructure providers build truly resilient digital ecosystems." %}</h5>          
            </div>
          </div>
          <div class="col-md-1 p-0"></div>
          <div class="col-md-5 p-md-0 text-center image-container">
            <img src="{% static 'images/about1.jpg' %}" alt="Logo" class="custom-image">
          </div>        
        </div>
      </div>
      <div class="custom-container mb-5 mt-5">
        <div class="row align-items-center justify-content-center flex-md-row-reverse p-3">
          <div class="col-md-5 p-md-0 text-center image-container">
            <img src="{% static 'images/about3.jpg' %}" alt="Logo" class="custom-image">
          </div>
          <div class="col-md-1 p-0"></div>
          <div class="col-md-5 col-10 p-md-0 text-left d-flex align-items-stretch">
            <div class="text-start">          
              <h5>{% translate "We make cyber intelligence operational. By leveraging our extensive network and real-world experience, we deliver high-quality threat intelligence, training, and strategic advisory tailored to the specific needs of the organizations we support. Our insights empower decision-makers to detect, mitigate, and respond to threats effectively, ensuring they remain secure and compliant in dynamic regulatory environments." %}</h5> 
            </div>
          </div>
        </div>
      </div>
      <div class="custom-container mb-5 mt-5">
        <div class="row align-items-center justify-content-center flex-md-row-reverse p-3">
          <div class="col-md-5 col-10 p-md-0 text-left d-flex align-items-stretch">
            <div class="text-start">          
              <h5>
                {% translate "We support organizations across LATAM and EMEA through two core services"%}
              </h5>          
              <h5>
                <i class="icon-check"></i> 
                {% translate "Threat Intelligence & Advisory – Delivering deep analytical insights, training, and strategic guidance to help organizations proactively manage cyber threats." %}
              </h5>
              <h5>
                <i class="icon-check"></i> 
                {% translate "Collaboration & Intelligence Sharing – Facilitating the creation and operation of intelligence-sharing communities to strengthen collective security." %}
              </h5> 
            </div>
          </div>
          <div class="col-md-1 p-0"></div>
          <div class="col-md-5 p-md-0 text-center image-container">
            <img src="{% static 'images/about4.jpg' %}" alt="Logo" class="custom-image">
          </div>        
        </div>
      </div>
      <div class="row align-items-center justify-content-center flex-md-row-reverse ">
        <div class="col-md-10 p-4 p-0">
          <div class="text-center mt-3 mb-3" >
            <h4 class="ultimo-text"style="color:#ffffff">
              {% translate "At T4NGO Security we believe that intelligence is the key to resilience. By anticipating cyber threats and understanding evolving risks, we empower organizations to stay ahead of adversaries, protect their assets, and navigate an increasingly volatile digital world with confidence" %}
            </h4>
          </div>
        </div>
      </div>
    </div>    
  </div>
</section>

{% endblock %}
{% block scrips%}

<script>
  document.addEventListener("DOMContentLoaded",function(){
    $('.nav-link').removeClass('active');
    $('#about-navlink').addClass('active');   
  });

</script>
{% endblock %}
