{% extends "base.html"%}
{% load static %}
{% load i18n %}
{% block content %}
<style>
  #section-about, #section-about2, #section-about3, #section-about4 {
    text-align: left !important;
  }
</style>

<section id="section-about" class="">
  <div class="container mt-5 ftco-animate">
    <div class="row justify-content-center mt-5 ">
      <div class="col-md-8 text-center mt-5 align-items-center">
        <h1 class="mb-4">{% translate "ABOUT US" %}</h1>
        <h4 class="mb-4 subtitulo_threat">
          {% translate "At T4NGO Security, we provide cyber threat intelligence services to multinational corporations, financial institutions, government agencies, and critical infrastructure operators." %}
        </h4>
        <h4 class="mb-4 subtitulo_threat">
          {% translate "Our expertise helps organizations, and their ecosystems" %}
          <span class="highlight text-uppercase"  >{% translate "strengthen their resilience" %}</span> 
          {% translate "y tomar decisiones informadas en un panorama digital cada vez más complejo." %}
        </h4>
        <div class="p-4">
          <button type="button" class="btn btn-primary btn-lg boton-home">{% translate "Get Started" %}</button>
        </div>
      </div>
    </div>
  </div>  
</section>

<section id="section-about2"class=" ftco-animate">
  <div class="container">
    <div class="row align-items-center justify-content-center flex-md-row-reverse">
      <div class="col-md-5 col-10 p-md-0 text-left d-flex align-items-stretch mt-3 mb-3">
        <div class="text-start">
          <h5>{% translate "In a world where cyber threats are evolving at an unprecedented pace, organizations must fully understand the environment they operate in." %}</h5>          
          <h5>{% translate "Collaboration between industry peers, partners, and even competitors is essential to staying ahead of cyber risks." %}</h5> 
          <h5>
            {% translate "Only by working together can businesses, governments, and critical infrastructure providers build truly" %}
            <span class="highlight">{% translate "resilient digital ecosystems" %}</span>.
          </h5>
        </div>
      </div>
      <div class="col-md-1 p-0"></div>
      <div class="col-md-5 col-10 p-md-0 text-center d-flex align-items-stretch mt-3 mb-5">
        <img src="{% static 'images/about1.jpg' %}" alt="Logo" class="custom-image">
      </div>
    </div>    
  </div>
</section> 
<section id="section-about3"class="ftco-section ftco-no-pt ftco-no-pb ftco-animate">
  <div class="container">
    <div class="row align-items-center justify-content-center flex-md-row-reverse">
      <div class="col-md-5 p-5 p-md-0 text-center">
        <img src="{% static 'images/about3.jpg' %}" alt="Logo" class="custom-image">
      </div>
      <div class="col-md-1 p-0"></div>
      <div class="col-md-5 col-10 p-md-0 text-left d-flex align-items-stretch mt-3 mb-3">
        <div class="text-start">
          <h5>
            {% translate "We make cyber intelligence operational. By leveraging our extensive network and real-world experience, we deliver " %}
            <span class="highlight">{% translate "high-quality threat intelligence, training, and strategic advisory" %}</span>.
            {% translate "tailored to the specific needs of the organizations we support. " %}
          </h5>
          <h5>{% translate "Our insights empower decision-makers to detect, mitigate, and respond to threats effectively, ensuring they remain secure and compliant in dynamic regulatory environments." %}</h5> 
        </div>
      </div>
    </div>
  </div>   
</section> 
<section id="section-about4"class="ftco-section ftco-no-pt ftco-no-pb ftco-animate">
  <div class="container">
    <div class="row align-items-center justify-content-center flex-md-row-reverse">
      {% comment %} <div class="col-md-5 p-5 p-md-0">
        <div class="text-start">
          <h5>
            {% translate "We support organizations across" %}
            <span class="highlight">{% translate "LATAM and EMEA" %}</span>
            {% translate "through two core services:" %}
          </h5>          
          <h5>
            ✔️ <strong class="highlight">{% translate "Threat Intelligence & Advisory" %}</strong> – 
            {% translate "Delivering deep analytical insights, training, and strategic guidance to help organizations proactively manage cyber threats." %}
          </h5>
          
          <h5>
            ✔️ <strong class="highlight">{% translate "Collaboration & Intelligence Sharing" %}</strong> – 
            {% translate "Facilitating the creation and operation of intelligence-sharing communities to strengthen collective security." %}
          </h5>         
        </div>
      </div> {% endcomment %}
      <div class="col-md-5 col-10 p-md-0 text-left d-flex align-items-stretch mt-3 mb-3">
        <div class="text-start">
          <h5>
            {% translate "We support organizations across" %}
            <span class="highlight">{% translate "LATAM and EMEA" %}</span>
            {% translate "through two core services:" %}
          </h5>          
          <h5>
            <i class="icon-check"></i> 
            <strong class="highlight">{% translate "Threat Intelligence & Advisory" %}</strong> – 
            {% translate "Delivering deep analytical insights, training, and strategic guidance to help organizations proactively manage cyber threats." %}
          </h5>
          
          <h5>
            <i class="icon-check"></i> 
            <strong class="highlight">{% translate "Collaboration & Intelligence Sharing" %}</strong> – 
            {% translate "Facilitating the creation and operation of intelligence-sharing communities to strengthen collective security." %}
          </h5>         
        </div>
      </div>
      
      <div class="col-md-1 p-0"></div>
      <div class="col-md-5 col-10 p-md-0 text-center d-flex align-items-stretch mt-3 mb-5">
        <img src="{% static 'images/about4.jpg' %}" alt="Logo" class="custom-image">
      </div>
    </div>
  </div>  
</section>
<section id="section-about5"class="ftco-section ftco-no-pt mt-5 mb-5 ftco-no-pb ftco-animate">
  <div class="container">
    <div class="row align-items-center justify-content-center flex-md-row-reverse mt-5 mb-5">
      <div class="col-md-10 p-4 p-0">
        <div class="text-start mt-5 mb-5 text-center">
          <h5>
            {% translate "At T4NGO Security we believe that " %}
            <strong class="highlight">{% translate "intelligence is the key to resilience" %}</strong>.
            {% translate "By anticipating cyber threats and understanding evolving risks, we empower organizations to " %}
            <strong class="highlight">{% translate "stay ahead of adversaries, protect their assets, and navigate an increasingly volatile digital world with confidence" %}</strong>.
          </h5>
         
        </div>
      </div>
    </div>
  </div>  
</section>
{% endblock %}
{% block scrips%}

<script>
  document.addEventListener("DOMContentLoaded",function(){
    $('.nav-link').removeClass('active');
    $('#about-navlink').addClass('active');   
  });

</script>
{% endblock %}
