{% load static %}
{% load i18n %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="author" content="T4ngo">  
    <meta name="keywords" content="Cybersecurity, Information Security, Data Protection, Cloud Security, Ethical Hacking, Firewall, Cryptography, Network Security, Phishing, Malware, Ransomware, Authentication, Cyber Attacks, Penetration Testing, Web Security, IoT Security, VPN, Mobile Security, Social Engineering, Zero Trust, Application Security, Compliance, Threat Intelligence, Digital Forensics, CISO, Endpoint Security">

    <meta name="ahrefs-site-verification" content="b05d833db4697e6c367bbb278886fea81780edd885b09cdb86d6ceb4430b374f">

    <title>T4NGO</title>
    <link href="{% static 'images/logoPestana.png' %}" rel="icon" style="width: auto;height: auto;max-width: 20px;">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">    
   
    <link rel="stylesheet" href="{% static 'css/open-iconic-bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/animate.css' %}">
    
    <link rel="stylesheet" href="{% static 'css/owl.carousel.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/owl.theme.default.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/magnific-popup.css' %}">

    <link rel="stylesheet" href="{% static 'css/aos.css' %}">

    <link rel="stylesheet" href="{% static 'css/ionicons.min.css' %}">

    <link rel="stylesheet" href="{% static 'css/bootstrap-datepicker.css' %}">
    <link rel="stylesheet" href="{% static 'css/jquery.timepicker.css' %}">
    
    <link rel="stylesheet" href="{% static 'css/flaticon.css' %}">
    <link rel="stylesheet" href="{% static 'css/icomoon.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/style-tango.css' %}">
    {% block head %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    {% endblock %}
  
  </head>
  <style>
    @font-face {
      font-family: 'Helvetica Neue LT Std Md';
      src: url('/static/fonts/helvetica/HELVETICANEUELTSTDMD.OTF') format('opentype');
      font-weight: normal;
      font-style: normal;
    }

    #contact-button {
      font-family: 'Helvetica Neue LT Std Md';
      background: linear-gradient(150deg, rgba(61, 89, 233, 0.9), rgba(11, 28, 58, 0.9)) !important; 
      position: fixed;
      bottom: 20px;
      right: 20px;
      z-index: 1000;
      border-radius: 50px;
      font-size:0.8rem;
    }

  

  </style>
  <body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark " id="ftco-navbar"> 
      <a href="{% url 'services' %}" class="navbar-brand d-flex align-items-center p-4">
        <img src="{% static 'images/logo-nav1.png' %}" alt="Logo" class="logo-img">
      </a>
      <div class="container d-flex align-items-center">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#ftco-nav" 
            aria-controls="ftco-nav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="oi oi-menu"></span> <span class="menu-text">MENU</span>
        </button>
        <div class="collapse navbar-collapse mt-3 mb-3" id="ftco-nav">
          <ul class="navbar-nav m-auto">
            <li class="nav-item me-5" id="service-navlink"><a href="{% url 'services' %}" class="nav-link text-light">{% translate "services_nav" %}</a></li>
            <li class="nav-item me-5" id="managed-navlink"><a href="{% url 'managed'  %}" class="nav-link text-light">{% translate "managed_nav" %}</a></li>
            <li class="nav-item " id="training-navlink"><a href="{% url 'training' %}" class="nav-link text-light">{% translate "training_nav" %}</a></li>
            <li class="nav-item" id="about-navlink"><a href="{% url 'about' %}" class="nav-link text-light">{% translate "about_nav" %}</a></li> 
            <li class="nav-item" id="contact-navlink">
              <div class="dropdown d-inline-block nav-item">
                <button class="btn btn-secondary dropdown-toggle border-0 bg-transparent" type="button" id="dropdownLangButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  {% get_current_language as LANGUAGE_CODE %}
                  {% if LANGUAGE_CODE == 'en' %}
                      <img src="{% static 'images/england.png' %}" alt="English" class="mr-1 flag-icon" style="width: auto;height: auto;max-width: 25px;">
                  {% elif LANGUAGE_CODE == 'es' %}
                      <img src="{% static 'images/espana.png' %}" alt="Español" class="mr-1 flag-icon" style="width: auto;height: auto;max-width: 25px;">
                  {% else %}
                      <img src="{% static 'assets/custom/images/default.png' %}" alt="Default" class="mr-1 flag-icon">
                  {% endif %}
                </button>
                <div class="dropdown-menu p-0 fables-forth-background-color rounded-0 m-0 border-0 lang-dropdown" aria-labelledby="dropdownLangButton">
                  <form action="{% url 'set_language' %}" method="post">
                    {% csrf_token %}
                    {% get_current_language as LANGUAGE_CODE %}
                    {% get_available_languages as LANGUAGES %}
                    {% get_language_info_list for LANGUAGES as languages %}
                    {% for lang in languages %}
                        <button type="submit" class="dropdown-item lang-button" name="language" value="{{ lang.code }}">
                            {% if lang.code == 'en' %}
                                <img src="{% static 'images/england.png' %}" alt="English" class="flag-icon" style="width: auto;height: auto;max-width: 25px;">
                            {% elif lang.code == 'es' %}
                                <img src="{% static 'images/espana.png' %}" alt="Español" class="flag-icon" style="width: auto;height: auto;max-width: 25px;">
                            {% endif %}
                        </button>
                    {% endfor %}                      
                  </form>
                </div>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </nav>    
  {% block content%}
  {% endblock %}
  <section id="section-home3" class="ftco-section ">
    <div class="container fondo-formulario d-flex flex-column justify-content-center align-items-center text-center mt-5 mb-5 ftco-animate">
      <div class="row justify-content-center w-100">
        <div class="col-lg-8 col-md-10 mt-5">
          {% if messages %}
          <div id="message-box">
            {% for message in messages %}
              <div class="alert alert-{{ message.tags }} text-white text-center py-2 px-4 rounded">
                {{ message }}
              </div>
            {% endfor %}
          </div>
        {% endif %}
          <h1 class="mb-4">{% translate "Let's Work Together" %}</h1>
        </div>
      </div>
      <div class="row align-items-center  justify-content-center w-100">
        <div class="col-lg-10 col-md-12">
          <form action="{% url 'contact' %}" method='post' class="p-4">
            {% csrf_token %}
            <div class="mb-3">
              <input type="text" class="form-control" name='nombre' placeholder="{% translate 'Name' %}">
            </div>
            <div class="mb-3">
              <input type="email" class="form-control" name='correo' placeholder="{% translate 'Email' %}">
            </div>
            <div class="mb-3">
              <input type="text" class="form-control" name='asunto' placeholder="{% translate 'Subject' %}">
            </div>
            <div class="mb-3">
              <textarea name="mensaje" cols="30" rows="5" class="form-control" placeholder="{% translate 'Message' %}"></textarea>
            </div>
            <div class="text-center mt-5">
              <button type="submit" class="btn btn-primary px-5 boton-home">{% translate "Send" %}</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </section>   
  <div id="contact-button" class="btn-lg animate__animated animate__heartBeat text-white d-flex align-items-center justify-content-center">
    <a href="#section-home3" class="">
      <span>{% translate "Contact Us" %}</span>
    </a>
  </div> 
<footer class="footer-fondo ftco-section">
  <div class="container mt-5">
    <div class="row mb-4 mt-5">
      <div class="col-md-4">
        <div class="row mb-4 mt-5">
          <div class="col-md-4"></div>
          <div class="col-md-8">
            <div class="ftco-footer-widget mb-4">
              <a href="{% url 'services' %}" class="navbar-brand d-flex align-items-center ">
                <img src="{% static 'images/logo-nav1.png' %}" alt="Logo" class="logo-img-footer">
              </a>
              <h6  class="mt-2"style="color:#ffffff; line-height: 1.8; font-size: 14px">{% translate "Secure your future. Advanced intelligence solutions for your business." %}</h6>
            </div>
          </div>
        </div>
      </div> 
      <div class="col-md-4">
        <div class="row mb-4 mt-5">
          <div class="col-md-4"></div>
          <div class="col-md-8">
            <div class="ftco-footer-widget mb-4">
              <h3 class="ftco-heading-2 titulos-footer">{% translate "Enlaces" %}</h3>
              <ul class="list-unstyled">              
                <li><a href="{% url 'services' %}">{% translate "Threat Intelligence Services" %}</a></li>
                <li><a href="{% url 'managed'  %}">{% translate "Managed cybersecurity" %}</a></li>
                <li><a href="{% url 'training' %}">{% translate "Training" %}</a></li>
                <li><a href="{% url 'about' %}">{% translate "About us" %}</a>  </li>
              </ul>
            </div>
          </div>
        </div>
      </div> 
      <div class="col-md-4">
        <div class="row mb-4 mt-5">
          <div class="col-md-4"></div>
          <div class="col-md-8">
            <h3 class="ftco-heading-2 titulos-footer">{% translate "Contacto" %}</h3>
            <ul class="list-unstyled">
              {% comment %} <li><a href="#"><span class="icon icon-map-marker mr-2"></span>Oficinas: Av. Ciberseguridad 123, Ciudad Segura</a></li>
              <li><a href="#"><span class="icon icon-phone mr-2"></span>+1 (800) 123-4567</a></li> {% endcomment %}
              <li>
                <a href="mailto:info@tangosecurity.net">
                  <span class="icon icon-envelope mr-2"></span> info@tangosecurity.net
                </a>
              </li>              
            </ul>
            <ul class="ftco-footer-social list-unstyled float-md-left float-lft mt-3">
              <li class="ftco-animate"><a href="#"><span class="icon-twitter"></span></a></li>
              {% comment %} <li class="ftco-animate"><a href="#"><span class="icon-facebook"></span></a></li> {% endcomment %}
              {% comment %} <li class="ftco-animate"><a href="#"><span class="icon-instagram"></span></a></li> {% endcomment %}
              <li class="ftco-animate"><a href="https://www.linkedin.com/company/t4ngo"><span class="icon-linkedin"></span></a></li>
            </ul>
            </div>
          </div>
        </div>
      </div> 
    </div>
    <div class="col-md-12 text-center" style="color:#F0F0F080">
      <p>&copy; {% translate "2025 Developed by Innobrar Solutions" %} </p>
    </div> 
  </div>
  </div>
</footer>
  <div id="ftco-loader" class="show fullscreen"><svg class="circular" width="48px" height="48px"><circle class="path-bg" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke="#eeeeee"/><circle class="path" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke-miterlimit="10" stroke="#F96D00"/></svg></div>
  <script src="{% static 'js/jquery.min.js' %}"></script>
  <script src="{% static 'js/jquery-migrate-3.0.1.min.js' %}"></script>
  <script src="{% static 'js/popper.min.js' %}"></script>
  <script src="{% static 'js/bootstrap.min.js' %}"></script>
  <script src="{% static 'js/jquery.easing.1.3.js' %}"></script>
  <script src="{% static 'js/jquery.waypoints.min.js' %}"></script>
  <script src="{% static 'js/jquery.stellar.min.js' %}"></script>
  <script src="{% static 'js/owl.carousel.min.js' %}"></script>
  <script src="{% static 'js/jquery.magnific-popup.min.js' %}"></script>
  <script src="{% static 'js/aos.js' %}"></script>
  <script src="{% static 'js/jquery.animateNumber.min.js' %}"></script>
  <script src="{% static 'js/bootstrap-datepicker.js' %}"></script>
  <script src="{% static 'js/jquery.timepicker.min.js' %}"></script>
  <script src="{% static 'js/scrollax.min.js' %}"></script>
  <script src="{% static 'js/main.js' %}"></script>
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script>
      document.addEventListener("DOMContentLoaded", function () {
        const navbar = document.getElementById("ftco-navbar");
    

      });


      </script>
      
  {% block scrips %}
 
  {% endblock %}
 
  </body>
</html>