{% extends "base.html"%}
{% load static %}
{% load i18n %}
{% block content %}
<style>
.boton-home {
  background: linear-gradient(150deg, rgba(61, 89, 233, 0.9), rgba(11, 28, 58, 0.9)); /* Ajusta el degradado */ 
  border: 2px solid var(--framework-blue); 
  color: var(--heading); 
  text-align: center; 
  border-radius: 15px; 
  padding: 15px 25px; 
  font-size: 18px; 
  font-weight: 400; 
  line-height: 140%;
  transition: background-color 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94), 
              transform 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94); 
}

.boton-home:hover {
  transform: scale(1.1); /* Aumenta ligeramente el tamaño */
  background: linear-gradient(150deg, rgba(61, 89, 233, 0.9), rgba(11, 28, 58, 0.9)); /* Ajusta el degradado */
  color: #ffffff; /* Asegura que el texto siga siendo blanco */
}
</style>
<section id="section-home" class="ftco-section ftco-no-pt ftco-no-pb">
  <div class="container mt-5">
    <div class="row justify-content-center mt-5  mb-5 pb-2">
      <div class="col-md-10 mt-5 text-center align-items-center  ftco-animate">
        <h1 class="mb-4" style="font-weight:bold">{% translate "Protect Your Company From Cyber Attacks" %}</h1>
        <h4 class="mb-4">{% translate "The leader in both compliance and penetration testing automation powered by AI" %}</h4>
        <div class="p-4">
          <a href="#" class="btn ms-3 boton-home">{% translate "Contact us" %}</a>
        </div>
      </div>
    </div>
  </div>
</div>
</section>
</section>
<section id="section-home2" class="ftco-section ftco-no-pt ftco-no-pb">
  <div class="container mt-5 position-relative">
    <div class="row align-items-center mt-5 mb-5 pb-2">
      <!-- Primera columna -->
      <div class="col-md-6 text-center ftco-animate position-relative d-none d-md-block">
        <div class="figure-block-c">
          <div class="figure-c1" data-z="-4"></div>
          <div class="figure-c2" data-z="15"></div>
          <div class="figure-c3" data-z="8"></div>
        </div>
      </div>  
      <!-- Segunda columna -->
      <div class="col-md-6 text-center ftco-animate">
        <h1 class="mb-4" style="font-weight:bold">{% translate "Comprehensive Cybersecurity Management" %}</h1>
        <h4 class="mb-4">{% translate "The leader in both compliance and penetration testing automation powered by AI" %}</h4>
      </div>
    </div>
  </div>
</section>
{% endblock %}
{% block scrips%}

<script>
  document.addEventListener("DOMContentLoaded",function(){
    $('.nav-link').removeClass('active');
    $('#index-navlink').addClass('active');

    cconst container = document.querySelector('.figure-block-c');

    container.addEventListener('mousemove', (e) => {
      const { width, height, left, top } = container.getBoundingClientRect();
      const x = e.clientX - left - width / 2;
      const y = e.clientY - top - height / 2;
    
      const rotateX = (y / height) * 10; // Movimiento más suave
      const rotateY = -(x / width) * 10;
    
      // Aplicar la rotación al contenedor completo
      container.style.transform = `rotateX(${rotateX}deg) rotateY(${rotateY}deg)`;
    });
    
    container.addEventListener('mouseleave', () => {
      // Resetear la rotación del bloque completo
      container.style.transform = 'rotateX(0deg) rotateY(0deg)';
    });
  });


</script>
{% endblock %}
