{% extends "base.html"%}
{% load static %}
{% load i18n %}
{% block content %}
<style>
  #message-box {
    background-color: #f0f0f0 !important; /* Fondo gris */
    color: #071225 !important; /* Texto azul oscuro */
    padding: 5px;
    border-radius: 8px;
    font-weight: bold;
    text-align: center;
    width: 60%;
    margin: 10px auto;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  }

  /* Forzar que todos los mensajes usen el mismo estilo */
  #message-box .alert {
    background-color: transparent !important;
    color: inherit !important;
    border: none !important;
    font-size: 20px;
  }
</style>

<section id="section-service" class="ftco-section ftco-no-pt ftco-no-pb">
  <div class="container ftco-animate">
    <div class="row justify-content-center mt-5">
      <div class="col-md-11 text-center align-items-center">
        {% if messages %}
        <div id="message-box">
          {% for message in messages %}
            <div class="alert alert-{{ message.tags }} text-white text-center py-2 px-4 rounded">
              {{ message }}
            </div>
          {% endfor %}
        </div>
        {% endif %}
        <h1 class="mb-4">{% translate "THREAT INTELLIGENCE SERVICES" %}</h1>
        <h4 class="mb-4 subtitulo_threat">{% translate "subtitulo_threat" %}</h4>
        <div class="text-center mt-5">
          <button type="button" class="btn btn-primary px-5 boton-home" onclick="location.href='#section-home3'">
            {% translate "Contact us" %}
          </button>
        </div>
      </div>
    </div>
  </div>
</section>
<section id="section-services2" class="ftco-section ftco-no-pt ftco-no-pb position-relative">
  <div class="video-overlay"></div>
  <div class="container-all position-relative">
    <div class="container position-relative">
      <div class="row align-items-center mb-5">
        <div class="col-md-1 mb-4"></div>
        <div class="col-md-10">
            <h1 class="mb-5 text-center mt-5 text-uppercase" style="font-weight:bold; color:#ffffff">
              {% translate "Cyber Threat Intelligence Assessment" %}
            </h1>
        </div>
        <div class="col-md-1 mb-4"></div>
      </div>    
    </div>
    <div class="container ftco-animate">
      <div class="row justify-content-center align-items-stretch g-4">
          <div class="col-md-5 mb-md-0 mb-4 d-flex justify-content-center"> 
              <div class="card-fixed-height p-4 no-min-height light gradient-card h-100 d-flex flex-column">
                  <div class="tasks-block d-flex align-items-center">
                    <i class="icon-bar-chart-o icon-custom"></i>
                    <h4 class="heading-tasks text-uppercase text-color-dark mb-0 ms-2">{% translate "Maturity Level Analysis" %}</h4>
                  </div>
                  <div class="custom-heading mt-3">
                    <h5>{% translate "Gain valuable insights into your organization's cybersecurity maturity. Our analysis leverages the CREST and CTI-CMM frameworks to identify gaps, prioritize improvements, and demonstrate compliance with industry’s best practices." %}</h5>
                  </div>
              </div>
          </div>  
          <div class="col-md-5 mb-md-0 mb-4 d-flex justify-content-center"> 
              <div class="card-fixed-height p-4 no-min-height light gradient-card h-100 d-flex flex-column">
                <div class="tasks-block d-flex align-items-center">
                  <i class="icon-shield icon-custom"></i>
                  <h4 class="heading-tasks text-uppercase text-color-dark mb-0 ms-2">{% translate "Threat Intelligence Organizational Consulting" %}</h4>
               </div>
                <div class="custom-heading mt-auto">
                  <h5>{% translate "Maximize the value of your threat intelligence program. Our expert consultants guide you in implementing best practices, optimizing processes, and developing a high-performing threat intelligence team to proactively defend against cyber threats." %}</h5>
                </div>
              </div>
          </div>
      </div>
    </div>

    <div class="container my-5 ftco-animate">
      <div class="row justify-content-center align-items-stretch g-4">
        <div class="col-md-5 mb-md-0 mb-4 d-flex justify-content-center"> 
          <div class="card-fixed-height p-4 no-min-height light gradient-card h-100 d-flex flex-column">
            <div class="tasks-block d-flex align-items-center">
                <i class="icon-settings_input_antenna icon-custom"></i>
                <h4 class="heading-tasks text-uppercase text-color-dark mb-0 ms-2">{% translate "Cyber Threat modeling & profiling" %}</h4>
            </div>
            <div class="custom-heading mt-3">
              <h5>{% translate "Protect your assets with robust threat modeling and profiling. Our experts leverage industry-leading frameworks like STRIDE, PASTA, OWASP, NIST, OCTAVE, Cyber Kill-Chain, MITRE ATT&CK and DIAMOND MODEL to identify, analyze, and mitigate potential cyber threats, enabling you to proactively safeguard your critical systems and data." %}</h5>
            </div>
          </div>
        </div>
        <div class="col-md-5 mb-md-0 mb-4 d-flex justify-content-center"> 
          <div class="card-fixed-height p-4 no-min-height light gradient-card h-100 d-flex flex-column">
            <div class="tasks-block d-flex align-items-center">
                <i class="icon-report icon-custom"></i>
                <h4 class="heading-tasks text-uppercase text-color-dark mb-0 ms-2">{% translate "Intelligence Analysis Reporting" %}</h4>
            </div>
            <div class="custom-heading mt-3">
                <h5>{% translate "Gain actionable insights from integrated intelligence analysis. Our experts analyze both cyber intelligence and non-digital intelligence sources to provide comprehensive threat assessments, identify emerging threats, and support informed decision-making" %}</h5>
            </div>
          </div>
        </div>  
      </div>
    </div>

    <div class="container  ftco-animate">
      <div class="row align-items-center ">
        <div class="col-12 text-center">
            <h1 class="mb-4" style="font-weight:bold; color:#ffffff">{% translate "OSINT" %}</h1>
        </div>
      </div>
      <div class="row justify-content-center align-items-stretch g-4 my-5">
        <div class="col-md-10 mb-md-0 mb-4 d-flex justify-content-center"> 
          <div class="card-fixed-height p-4 no-min-height tarjeta-grande light h-100 d-flex flex-column">
            <div class="tasks-block d-flex align-items-center">
                <i class="icon-globe icon-custom"></i>
                <h4 class="heading-tasks text-uppercase text-color-dark mb-0 ms-2">{% translate "Organizational Human Risk Analysis (Digital HUMINT)" %}</h4>
            </div>
            <div class="custom-heading mt-3">
              <h5>{% translate "Reduce your organization's exposure to human risk with our expert analysis. We leverage OSINT data to identify and assess the potential for insider threats, employee negligence, and other human-centric security vulnerabilities. Our in-depth assessments help you understand and mitigate the risks associated with employee behavior, including non-compliance with security policies, misuse of technology, and susceptibility to social engineering attacks. " %}</h5>
            </div>
          </div>
        </div>
      </div> 
      <div class="row justify-content-center align-items-stretch mb-5 g-4">
        <div class="col-md-10 mb-md-0 mb-4 d-flex justify-content-center"> 
          <div class="card-fixed-height p-4 no-min-height tarjeta-grande light h-100 d-flex flex-column">
            <div class="tasks-block d-flex align-items-center">
                <i class="icon-user-secret icon-custom"></i>
                <h4 class="heading-tasks text-uppercase text-color-dark mb-0 ms-2">{% translate "Online profile risk assessment" %}</h4>
            </div>
            <div class="custom-heading mt-3">
              <h5>{% translate "Understand and mitigate the risks of your online presence. Take control of your privacy with our comprehensive profile risk assessment. We analyze your digital footprint to determine what personal information is publicly available, identify potential risks to your connections, assets, and reputation, and develop a customized action plan to minimize your online exposure." %}</h5>
            </div>
          </div>
        </div>
      </div>    
  </div>

  </div>
</section>

{% endblock %}
{% block scrips%}

<script>
  document.addEventListener("DOMContentLoaded",function(){
    $('.nav-link').removeClass('active');
    $('#service-navlink').addClass('active');

    });


    setTimeout(function() {
      document.getElementById("message-box").style.display = "none";
    }, 5000);  // Ocultar el mensaje después de 5 segundos


</script>
{% endblock %}
