{% extends "base.html"%}
{% load static %}
{% load i18n %}
{% block content %}
<style>

.icon-custom {
  font-size: 45px;
  margin-right: 20px;
  vertical-align: middle;
  color: #3D59E9;
}
.highlight-uppercase {
  color: #353535;
  font-weight: bold; /* Opcional: Si querés resaltar más */
}
.custom-heading {
  flex-grow: 1; /* Hace que el contenido se distribuya uniformemente */
  display: flex;
  flex-direction: column;
  justify-content: start; /* Asegura que el texto arranque en la misma altura */
}
</style>

<section id="section-service" class="ftco-section ftco-no-pt ftco-no-pb">
  <div class="container mt-5 ftco-animate">
    <div class="row justify-content-center mt-5">
      <div class="col-md-8 text-center align-items-center">
        <h1 class="mb-4">{% translate "THREAT INTELLIGENCE SERVICES" %}</h1>
        <h4 class="mb-4 subtitulo_threat">{% translate "subtitulo_threat" %}</h4>
        <div class="p-4">
          <button type="button" class="btn btn-primary btn-lg boton-home">{% translate "Get Started" %}</button>
        </div>
      </div>
    </div>
  </div>
</section>
<section id="section-services2" class="ftco-section ftco-no-pt mt-5 mb-5 ftco-no-pb ftco-animate">
  <div class="container-all">
    <div class="container position-relative">
      <div class="row align-items-center mb-5">
        <div class="col-md-1 mb-4"></div>
        <div class="col-md-10">
            <h1 class="mb-4" style="font-weight:bold">{% translate "Cyber Threat Intelligence Assessment:" %}</h1>
        </div>
        <div class="col-md-1 mb-4"></div>
      </div>    
    </div>

    <div class="container ftco-animate">
      <div class="row justify-content-center align-items-stretch g-4">
          <div class="col-md-5">
              <div class=" card-fixed-height p-4 no-min-height light gradient-card h-100 d-flex flex-column">
                  <div class="tasks-block d-flex align-items-start">
                      <i class="icon-bar-chart-o icon-custom"></i>
                      <h4 class="heading-tasks text-color-dark mb-0 ms-2">{% translate "Maturity Level Analysis:" %}</h4>
                  </div>
                  <div class="custom-heading mt-auto">
                      <h5>{% translate "Gain valuable insights into your organization's cybersecurity maturity." %}</h5>
                      <h5>{% translate "Our analysis leverages the CREST and CTI-CMM frameworks to identify gaps, prioritize improvements, and demonstrate compliance with industry’s best practices." %}</h5>
                  </div>
              </div>
          </div>  
          <div class="col-md-5">
              <div class="card-fixed-height p-4 no-min-height light gradient-card h-100 d-flex flex-column">
                  <div class="tasks-block d-flex align-items-start">
                      <i class="icon-shield icon-custom"></i>
                      <h4 class="heading-tasks text-color-dark mb-0 ms-2">{% translate "Threat Intelligence Organizational Consulting:" %}</h4>
                  </div>
                  <div class="custom-heading mt-auto">
                      <h5>{% translate "Maximize the value of your threat intelligence program." %}</h5>
                      <h5>{% translate "Maximize the value of your threat intelligence program. Our expert consultants guide you in implementing best practices, optimizing processes, and developing a high-performing threat intelligence team to proactively defend against cyber threats." %}</h5>
                    </div>
              </div>
          </div>
      </div>
    </div>
    <div class="container my-5 ftco-animate">
      <div class="row justify-content-center align-items-stretch g-4">
        <div class="col-md-5">
          <div class="card-fixed-height p-4 no-min-height light gradient-card h-100 d-flex flex-column">
            <div class="tasks-block d-flex align-items-start">
                <i class="icon-settings_input_antenna icon-custom"></i>
                <h4 class="heading-tasks text-color-dark mb-0 ms-2">{% translate "Cyber Threat modeling & profiling" %}</h4>
            </div>
            <div class="custom-heading mt-auto">
              <h5>{% translate "Protect your assets with robust threat modeling and profiling. " %}</h5>
              <h5>
                {% translate "Our experts leverage industry-leading frameworks like " %}
                <span class="highlight-uppercase">{% translate "STRIDE, PASTA, OWASP, NIST, OCTAVE, Cyber Kill-Chain, MITRE ATT&CK and DIAMOND MODEL" %}</span>
                {% translate " to identify, analyze, and mitigate potential cyber threats, enabling you to proactively safeguard your critical systems and data." %}
              </h5>
            </div>
          </div>
        </div>
        <div class="col-md-5">
          <div class="card-fixed-height p-4 no-min-height light gradient-card h-100 d-flex flex-column">
            <div class="tasks-block d-flex align-items-start">
                <i class="icon-report icon-custom"></i>
                <h4 class="heading-tasks text-color-dark mb-0 ms-2">{% translate "Intelligence Analysis Reporting" %}</h4>
            </div>
            <div class="custom-heading mt-auto">
                <h5>{% translate "Gain actionable insights from integrated intelligence analysis." %}</h5>
                <h5>{% translate "Our experts analyze both cyber intelligence and **non-digital intelligence** sources to provide comprehensive threat assessments, identify emerging threats, and support informed decision-making." %}</h5>
            </div>
          </div>
        </div>  
      </div>
    </div>
    <div class="container my-5 ftco-animate ">
      <div class="row align-items-center ">
        <div class="col-12 text-center">
            <h1 class="mb-4" style="font-weight:bold">{% translate "OSINT" %}</h1>
        </div>
      </div>
      <div class="row justify-content-center align-items-stretch g-4 my-5">
        <div class="col-md-10">
          <div class="card-fixed-height p-4 no-min-height  tarjeta-grande light  h-100 d-flex flex-column">
            <div class="tasks-block d-flex align-items-start">
                <i class="icon-globe icon-custom"></i>
                <h4 class="heading-tasks text-color-dark mb-0 ms-2">{% translate "Organizational Human Risk Analysis (Digital HUMINT)" %}</h4>
            </div>
            <div class="custom-heading mt-auto">
              <h5>{% translate "Reduce your organization's exposure to human risk with our expert analysis. We leverage OSINT data to identify and assess the potential for insider threats, employee negligence, and other human-centric security vulnerabilities. " %}</h5>
              <h5>{% translate "Our in-depth assessments help you understand and mitigate the risks associated with employee behavior, including non-compliance with security policies, misuse of technology, and susceptibility to social engineering attacks." %}</h5>
            </div>
          </div>
        </div>
      </div> 
      <div class="row justify-content-center align-items-stretch g-4">
        <div class="col-md-10">
          <div class="card-fixed-height p-4 no-min-height  tarjeta-grande light  h-100 d-flex flex-column">
            <div class="tasks-block d-flex align-items-start">
                <i class="icon-user-secret icon-custom"></i>
                <h4 class="heading-tasks text-color-dark mb-0 ms-2">{% translate "Online profile risk assessment:" %}</h4>
            </div>
            <div class="custom-heading mt-auto">
              <h5>{% translate "Understand and mitigate the risks of your online presence." %}</h5>
              <h5>{% translate "Take control of your privacy** with our comprehensive profile risk assessment." %}</h5>
              <h5>{% translate "We analyze your digital footprint to determine what personal information is publicly available, identify potential risks to your connections, assets, and reputation, and develop a customized action plan to minimize your online exposure." %}</h5>
            </div>
          </div>
        </div>
      </div>    
  </div>
</section>
  

<section id="section-home3" class="ftco-section contact-section ftco-animate">
  <div class="container fondo-formulario d-flex flex-column justify-content-center align-items-center text-center mt-5 mb-5">
    <div class="row justify-content-center w-100">
      <div class="col-lg-8 col-md-10">
        <h1 class="mb-4">{% translate "Let's Work Together" %}</h1>
        <h4 class="mb-4">{% translate "Tell us about yourself and we’ll figure out the best solution for you and your organization's needs." %}</h4>
      </div>
    </div>
    <div class="row justify-content-center w-100">
      <div class="col-lg-8 col-md-10">
        <form action="{% url 'contact' %}" method='post' class="p-4">
          {% csrf_token %}
          <div class="mb-3">
            <input type="text" class="form-control" name='nombre' placeholder="Nome">
          </div>
          <div class="mb-3">
            <input type="email" class="form-control" name='correo' placeholder="Email">
          </div>
          <div class="mb-3">
            <input type="text" class="form-control" name='asunto' placeholder="Assunto">
          </div>
          <div class="mb-3">
            <textarea name="mensaje" cols="30" rows="5" class="form-control" placeholder="Mensagem"></textarea>
          </div>
          <div class="text-center">
            <button type="submit" class="btn btn-primary px-5 boton-home">Enviar</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>
{% endblock %}
{% block scrips%}

<script>
  document.addEventListener("DOMContentLoaded",function(){
    $('.nav-link').removeClass('active');
    $('#index-navlink').addClass('active');

    cconst container = document.querySelector('.figure-block-c');

    container.addEventListener('mousemove', (e) => {
      const { width, height, left, top } = container.getBoundingClientRect();
      const x = e.clientX - left - width / 2;
      const y = e.clientY - top - height / 2;
    
      const rotateX = (y / height) * 10; // Movimiento más suave
      const rotateY = -(x / width) * 10;
    
      // Aplicar la rotación al contenedor completo
      container.style.transform = `rotateX(${rotateX}deg) rotateY(${rotateY}deg)`;
    });
    
    container.addEventListener('mouseleave', () => {
      // Resetear la rotación del bloque completo
      container.style.transform = 'rotateX(0deg) rotateY(0deg)';
    });
  });


</script>
{% endblock %}
