{% extends "base.html"%}
{% load static %}
{% load i18n %}
{% block content %}
<style>
  .custom-img {
    width: 70%; /* La imagen ocupará el 70% del contenedor */
    display: block; /* Hace que el margen auto funcione */
    margin: 0 auto; /* Centra la imagen horizontalmente */
    background-color: rgba(0, 0, 0, 0.9);
  }

.boton-home {
  background: linear-gradient(150deg, rgba(61, 89, 233, 0.9), rgba(11, 28, 58, 0.9)); /* Ajusta el degradado */ 
  border: 2px solid var(--framework-blue); 
  color: var(--heading); 
  text-align: center; 
  border-radius: 15px; 
  padding: 15px 25px; 
  font-size: 18px; 
  font-weight: 400; 
  line-height: 140%;
  transition: background-color 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94), 
              transform 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94); 
}

.boton-home:hover {
  transform: scale(1.1); /* Aumenta ligeramente el tamaño */
  background: linear-gradient(150deg, rgba(61, 89, 233, 0.9), rgba(11, 28, 58, 0.9)); /* Ajusta el degradado */
  color: #ffffff; /* Asegura que el texto siga siendo blanco */
}
</style>
<section id="section-home" class="ftco-section ftco-no-pt ftco-no-pb">
  <div class="container mt-5 ftco-animate">
    <div class="row align-items-left mt-5">
      <div class="col-md-6 text-left">
        <h1 class="mb-4" style="font-weight:bold">{% translate "Protect Your Company From Cyber Attacks" %}</h1>
        <h4 class="mb-4">{% translate "The leader in both compliance and penetration testing automation powered by AI" %}</h4>
        <div class="p-4">
          <a href="#" class="btn ms-3 boton-home" >{% translate "Get Started" %}</a>
        </div>
      </div>
      <div class="col-md-6 text-left ">
        <img src="{% static 'images/services1.jpg' %}" class="custom-img">
      </div>
 
    </div>
  </div>
</section>
<section id="section-services2" class="ftco-section ftco-no-pt ftco-no-pb ftco-animate">
  <div class="container mt-5 mb-5 position-relative">
    <!-- Título principal -->
    <div class="row align-items-center mb-5">
      <div class="col-md-1 mb-4"> </div>
      <div class="col-md-5">
        <h1 class="mb-4" style="font-weight:bold">{% translate "Why Minerva?" %}</h1>
        <h4 class="mb-4">{% translate "Minerva simplifies the complexity of pentest report generation, enabling you to focus on what matters most – securing your applications and infrastructure." %}</h4>
      </div>
      <div class="col-md-5 text-center">
        <img src="{% static 'images/services1.jpg' %}" alt="Minerva Insights" class="img-fluid">
      </div>
      <div class="col-md-1 mb-4"> </div>
    </div>
    <!-- Tarjetas -->
    <div class="row">
      <!-- Tarjeta 1 -->
      <div class="col-md-1 mb-4"> </div>
      <div class="col-md-5 mb-4">
        <div class="tasks-4 p-5 no-min-height light gradient-card">
          <div class="tasks-block">
            <img src="https://cdn.prod.website-files.com/629fd7fea86dd7891a8e1d0b/66b287d4eca6355cff4a6ea6_zap.svg" alt="" class="icon-tasks">
            <h5 class="heading-tasks text-color-dark">Efficiency & Speed</h5>
          </div>
          <ul class="list-3 feature-bullet text-color-dark">
            <li>Eliminate human errors and ensure consistency  all your reports.</li>
            <li>Rely on Minerva’s standardized templates to  high-quality output.</li>
            <li>Reduce the time spent on generating reports omating repetitive tasks.</li>
          </ul>
        </div>
      </div>
      <!-- Tarjeta 2 -->
      <div class="col-md-5 mb-4">
        <div class="tasks-4 p-5 no-min-height light gradient-card">
          <div class="tasks-block">
            <img src="https://cdn.prod.website-files.com/629fd7fea86dd7891a8e1d0b/66b287d4eca6355cff4a6ea6_zap.svg" alt="" class="icon-tasks">
            <h5 class="heading-tasks text-color-dark">Accuracy & Consistency</h5>
          </div>
          <ul class="list-3 feature-bullet text-color-dark">
            <li>Eliminate human errors and ensure consistency  all your reports.</li>
            <li>Rely on Minerva’s standardized templates to  high-quality output.</li>
            <li>Reduce the time spent on generating reports omating repetitive tasks.</li>
          </ul>
        </div>
      </div>
      <div class="col-md-1 mb-4"> </div>
      <!-- Tarjeta 3 -->
      <div class="col-md-1 mb-4"> </div>
      <div class="col-md-5 mb-4">
        <div class="tasks-4 p-5 no-min-height light gradient-card">
          <div class="tasks-block">
            <img src="https://cdn.prod.website-files.com/629fd7fea86dd7891a8e1d0b/66b287d4eca6355cff4a6ea6_zap.svg" alt="" class="icon-tasks">
            <h5 class="heading-tasks text-color-dark">Compliance & Customization</h5>
          </div>
          <ul class="list-3 feature-bullet text-color-dark">
            <li>Eliminate human errors and ensure consistency  all your reports.</li>
            <li>Rely on Minerva’s standardized templates to  high-quality output.</li>
            <li>Reduce the time spent on generating reports omating repetitive tasks.</li>
          </ul>
        </div>
      </div>
      <!-- Tarjeta 4 -->
      <div class="col-md-5 mb-4">
        <div class="tasks-4 p-5 no-min-height light gradient-card">
          <div class="tasks-block">
            <img src="https://cdn.prod.website-files.com/629fd7fea86dd7891a8e1d0b/66b287d4eca6355cff4a6ea6_zap.svg" alt="" class="icon-tasks">
            <h5 class="heading-tasks text-color-dark">Secure & Scalable</h5>
          </div>
          <ul class="list-3 feature-bullet text-color-dark">
            <li>Eliminate human errors and ensure consistency  all your reports.</li>
            <li>Rely on Minerva’s standardized templates to  high-quality output.</li>
            <li>Reduce the time spent on generating reports omating repetitive tasks.</li>
          </ul>
        </div>
      </div>
      <div class="col-md-1 mb-4"> </div>
      <!-- Tarjeta 5 (última, ocupa toda la fila) -->
      <div class="col-md-1 mb-4"> </div>
      <div class="col-md-10">
        <div class="tasks-4 p-5 no-min-height light gradient-card">
          <div class="tasks-block">
            <img src="https://cdn.prod.website-files.com/629fd7fea86dd7891a8e1d0b/66b287d4eca6355cff4a6ea6_zap.svg" alt="" class="icon-tasks">
            <h5 class="heading-tasks text-color-dark">AI Powered Insights</h5>
          </div>
          <ul class="list-3 feature-bullet text-color-dark">
            <li>Use AI to gain deeper insights into your security posture.</li>
            <li>Automatically generate remediation instructions to address vulnerabilities efficiently.</li>
            <li>Reduce the time spent on generating reports by automating repetitive tasks.</li>
          </ul>
        </div>
      </div>
      <div class="col-md-1 mb-4"> </div>
    </div>
  </div>
</section>
<section id="section-home2" class="ftco-section ftco-no-pt ftco-no-pb">
  <div class="container mt-5 position-relative">
    <div class="row align-items-center mt-5 mb-5 pb-2">
      <!-- Primera columna -->
      <div class="col-md-6 text-center ftco-animate position-relative">
        <div class="figure-block-c">
          <div class="figure-c1" data-z="-4"></div>
          <div class="figure-c2" data-z="15"></div>
          <div class="figure-c3" data-z="8"></div>
        </div>
      </div> <!-- Cierre correcto de la primera columna -->
      
      <!-- Segunda columna -->
      <div class="col-md-6 text-center ftco-animate">
        <h1 class="mb-4" style="font-weight:bold">{% translate "Comprehensive Cybersecurity Management" %}</h1>
        <h4 class="mb-4">{% translate "The leader in both compliance and penetration testing automation powered by AI" %}</h4>
      </div>
    </div>
  </div>
</section>
<section id="section-home3" class="ftco-section contact-section ftco-animate">
  <div class="container fondo-formulario mt-5 mb-5">
    <div class="container mt-5 ">
      <div class="row justify-content-center mt-5 pb-2">
        <div class="col-md-8 mt-5 text-center align-items-center  ftco-animate">
          <h1 class="mb-4" style="font-weight:bold">{% translate "Let's Work Together" %}</h1>
          <h4 class="mb-4">{% translate "Tell us about yourself and we’ll figure out the best solution for you and your organization's needs." %}</h4>
        </div>
      </div>
    </div>
    <div class="row d-flex align-items-stretch no-gutters">
      <div class="col-md-10  p-md-5 mx-auto ">
        <form action="{% url 'contact' %}" method='post' class="">
          {% csrf_token %}
          <div class="form-group">
              <input type="text" class="form-control" name='nombre' placeholder="Nome">
          </div>
          <div class="form-group">
              <input type="text" class="form-control" name='correo' placeholder="Email">
          </div>
          <div class="form-group">
              <input type="text" class="form-control" name='asunto' placeholder="Assunto">
          </div>
          <div class="form-group">
              <textarea name="mensaje" cols="30" rows="7" class="form-control" placeholder="Mensagem"></textarea>
          </div>
          <div class="p-4 d-flex justify-content-start">
            <input type="submit" value="Enviar" class="btn ms-3 pe-5 ps-5 boton-home">
          </div>
      </form>         
      </div>
    </div>
  </div>
</section>
{% endblock %}
{% block scrips%}

<script>
  document.addEventListener("DOMContentLoaded",function(){
    $('.nav-link').removeClass('active');
    $('#index-navlink').addClass('active');

    cconst container = document.querySelector('.figure-block-c');

    container.addEventListener('mousemove', (e) => {
      const { width, height, left, top } = container.getBoundingClientRect();
      const x = e.clientX - left - width / 2;
      const y = e.clientY - top - height / 2;
    
      const rotateX = (y / height) * 10; // Movimiento más suave
      const rotateY = -(x / width) * 10;
    
      // Aplicar la rotación al contenedor completo
      container.style.transform = `rotateX(${rotateX}deg) rotateY(${rotateY}deg)`;
    });
    
    container.addEventListener('mouseleave', () => {
      // Resetear la rotación del bloque completo
      container.style.transform = 'rotateX(0deg) rotateY(0deg)';
    });
  });


</script>
{% endblock %}
